<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- .NET -->
  <package id="DotNet4.0" />
  <package id="DotNet4.5" />
  <package id="ilspy" />
  <package id="linqpad" />
  <package id="webpi" />
  <package id="visualfsharptools" />

  <!-- General -->
  <package id="fiddler4" />
  <package id="hg" />
  <package id="git" />
  <package id="kdiff3" />
  <package id="gitextensions" />
  <package id="NugetPackageExplorer" />
  <package id="putty" />
  <package id="rdcman" />

  <!-- Other -->
  <package id="nodejs.install" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="winmerge" />
  <package id="winscp" />
</packages>
