<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="7zip" />
  <package id="figlet-go" source="https://www.myget.org/F/dustinvenegas/" />
  <package id="google-chrome-x64" />
  <package id="keepass" />
  <package id="Paint.net" />
  <package id="PowerShell" />
  <package id="vim" />
  <package id="f.lux" />
</packages>
