<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="dropbox" />
  <package id="Evernote" />
  <package id="figlet-go" source="https://www.myget.org/F/dustinvenegas/" />
  <package id="google-chrome-x64" />
  <package id="keepass" />
  <package id="PowerShell" />
  <package id="steam" />
  <package id="vim" />
</packages>
