.vim/plugged/
nvim/plugged/
*.swp
*.orig
_viminfo

# Skip Pipfile.lock for neovim python virtualenvs because:
#   - We are running x-platform, which causes *.lock churn
#   - We're not shipping a binary
nvim/python-venvs/**/Pipfile.lock
nvim/local.*
!nvim/local.*.template

# VSCode
VSCode/workspaceStorage/**
