nvim/plugged/

# Skip Pipfile.lock for neovim python virtualenvs because:
#   - We are running x-platform, which causes *.lock churn
#   - We're not shipping a binary
nvim/python-venvs/**/Pipfile.lock

# Handle localhost-only files.
**/local.*?
!**/local.*.template
git/gitconfig_local

# VSCode
VSCode/workspaceStorage/**
VSCode/globalStorage/**
