.config/nvim/local.dotfiles.json
.config/nvim/local.dotfiles.vim
.config/powershell/local.profile.ps1
home/.gitconfig_os
home/.gitconfig_local
home/.vim/.vimrc.local
home/.vimrc.local
home/.bashrc_local
home_backup/*
nvimlog
vimlog
dist/*
test-data/*
test/*
build/*