# Fall-back to git auto-detection for line endings.
* text=auto

# Global filetypes
*.sh text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ps1 text eol=clrf

# Unix Native Apps
bash/bash* text eol=lf
git/git* text eol=lf

# Other
ConEmu.xml text eol=lf
.shellcheckrc text eol=lf
