# Fall-back to git auto-detection for line endings.
* text=auto

# Global filetypes
*.sh text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ps1 text eol=clrf

# bash
*.sh text eol=lf
bash/* text eol=lf

# git
git/git* text eol=lf

# ConEmu
ConEmu.xml text eol=lf
