<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="neovim" />

  <!--
       fzf: "Fuzzy Finder" for fuzzy/partial filename matches
       Used by: fzf, fzf.vim in vim/neovim
    -->
  <package id="fzf" />

  <!--
       rg: file contents search tool; similar to grep
       Used by: 'mileszs/ack.vim' in vim/neovim
       Alternative to: ag
   -->
  <package id="ripgrep" />

  <!-- neovim to python integration-->
  <package id="python3" />

  <!-- neovim to node.js integration -->
  <package id="nodejs-lts" />

  <!-- Common fonts -->
  <package id="dejavufonts" />
  <package id="hackfont" />
  <package id="SourceCodePro" />
  <package id="FiraCode" />
  <package id="Inconsolata" />

  <!-- .editorconfig support for editorconfig/editorconfig-vim plugin -->
  <package id="editorconfig.core" />

  <!-- PlantUml, since some plugins use it -->
  <package id="plantuml" />
</packages>
