" Localhost Settings for Dotfiles Neovim
" Should be based on `settings.local.vim.template`
" May be managed automatically or manually

" Python 3x VirtualEnv Python Path
let g:python3_host_prog='$PYTHON3_VRITUALENV_PATH'

" Python 2x VirtualEnv Python Path
let g:python_host_prog='$PYTHON2_VIRTUALENV_PATH'
