<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vscode" />

  <!-- For Extension: ms-vscode.csharp -->
  <package id="dotnetcore-sdk" />

  <!-- For Extension: timonwong.shellcheck -->
  <package id="shellcheck" />

  <!-- For Extension: jebbs.plantuml -->
  <package id="plantuml" />

  <!-- Cascadia Code Fonts -->
  <package id="cascadiafonts" />
</packages>
