<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- rclone.install is preferred over portable to avoid Chocolatey-shimmed binaries. -->
  <package id="rclone.install" />

  <!-- nssm, the non-sucking service manager for Windows helps manage rclone as a service. -->
  <package id="nssm" />
</packages>
