<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- General -->
  <package id="fiddler4" />
  <package id="git" />
  <package id="jmeter" />
  <package id="kdiff3" />
  <package id="gitextensions" />
  <package id="NugetPackageExplorer" />
  <package id="putty" />
  <package id="conemu" />

  <!-- Other -->
  <package id="docker-for-windows" />
  <package id="gource" />
  <package id="nodejs.install" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="winmerge" />
  <package id="winscp" />

  <!-- VIM -->
  <package id="ctags" />

</packages>
