<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- .NET -->
  <package id="DotNet4.0" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.2" />
  <package id="ilspy" />
  <package id="linqpad" />
  <package id="nuget.commandline" />
  <package id="webpi" />
  <package id="visualfsharptools" />

  <!-- Visual Studio -->
  <!--<package id="VisualStudioCommunity2015" />-->
  <package id="visualstudio2017enterprise" />
  <package id="visualstudiocode" />

  <!-- Azure -->
  <package id="microsoftazurestorageexplorer" />

</packages>
