<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="neovim" />

  <!-- fzf on Windows. Prefer WSL version if possible. -->
  <package id="fzf" />

  <!-- Common fonts -->
  <package id="dejavufonts" />
  <package id="hackfont" />
  <package id="SourceCodePro" />
  <package id="FiraCode" />
  <package id="Inconsolata" />
</packages>
