################################################
# Localhost PowerShell Profile Commands
################################################

<#
 Great for things like
   - Environment Variables: $env:FOO = 'BAR'
#>
